# --- Python & Venv ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# --- Flutter/Dart (Melih için) ---
/mobile/.dart_tool/
/mobile/.idea/
/mobile/build/
/mobile/ios/Flutter/Generated.xcconfig
/mobile/ios/Flutter/flutter_export_environment.sh
/mobile/android/.gradle
/mobile/pubspec.lock

# --- IDE Settings ---
.idea/
.vscode/
*.swp

# --- Mac & Windows System Files ---
.DS_Store
Thumbs.db

# --- ML Data (Ömer için - Büyük verileri yüklememek için) ---
/ml_engine/data/
*.pkl
*.h5
*.pth

serviceAccountKey.json
.env